<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Entitlements.plist
   defender

   Created by Stefan Wessels on 2024-06-06.
   Copyright (c) 2024 Wessels Consulting Ltd.. All rights reserved.
-->
<plist version="1.0">
<dict/>
</plist>
